Helpers.Cineworld.Models/Generated/AllPerformances/all-performances.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="cinemas">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cinema" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="cinema">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="films"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="required"/>
      <xs:attribute type="xs:short" name="id" use="required"/>
      <xs:attribute type="xs:string" name="postcode" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="films">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="film" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="film">
    <xs:complexType>
      <xs:attribute type="xs:string" name="length" use="required"/>
      <xs:attribute type="xs:string" name="title" use="required"/>
      <xs:attribute type="xs:int" name="edi" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
