Helpers.Cineworld.Models/Generated/cinemas.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Cinemas" type="CinemasType"/>

  <xs:complexType name="CinemasType">
    <xs:sequence>
      <xs:element type="CinemaType" name="Cinema" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CinemaType">
    <xs:sequence>
      <xs:element type="xs:short" name="Id"/>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="FilmsType" name="Films"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FilmsType">
    <xs:sequence>
      <xs:element type="FilmType" name="Film" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FilmType">
    <xs:sequence>
      <xs:element type="xs:int" name="Edi"/>
      <xs:element type="xs:string" name="Title"/>
      <xs:element type="xs:short" name="Length"/>
      <xs:element type="DateTimesType" name="DateTimes"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DateTimesType">
    <xs:sequence>
      <xs:element type="xs:dateTime" name="DateTime" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
