Helpers.Reddit.Models/Generated/feed.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2005/Atom" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="feed" type="atom:feedType" xmlns:atom="http://www.w3.org/2005/Atom"/>

  <xs:complexType name="feedType">
    <xs:sequence>
      <xs:element type="atom:entryType" name="entry" maxOccurs="unbounded" minOccurs="0" xmlns:atom="http://www.w3.org/2005/Atom"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="entryType">
    <xs:sequence>
      <xs:element type="atom:contentType" name="content" xmlns:atom="http://www.w3.org/2005/Atom"/>
      <xs:element type="xs:string" name="id"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contentType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
