Helpers.Reddit.Models/Generated/worldnews.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2005/Atom" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="feed">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="atom:category" xmlns:atom="http://www.w3.org/2005/Atom"/>
        <xs:element ref="atom:updated" xmlns:atom="http://www.w3.org/2005/Atom"/>
        <xs:element ref="atom:id" xmlns:atom="http://www.w3.org/2005/Atom"/>
        <xs:element ref="atom:title" xmlns:atom="http://www.w3.org/2005/Atom"/>
        <xs:element ref="atom:entry" maxOccurs="unbounded" minOccurs="0" xmlns:atom="http://www.w3.org/2005/Atom"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="category">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="term" use="optional"/>
          <xs:attribute type="xs:string" name="label" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="id" type="xs:string"/>
  <xs:element name="title" type="xs:string"/>

  <xs:element name="entry">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="atom:author" xmlns:atom="http://www.w3.org/2005/Atom"/>
        <xs:element ref="atom:category" xmlns:atom="http://www.w3.org/2005/Atom"/>
        <xs:element ref="atom:content" xmlns:atom="http://www.w3.org/2005/Atom"/>
        <xs:element ref="atom:id" xmlns:atom="http://www.w3.org/2005/Atom"/>
        <xs:element ref="atom:link" xmlns:atom="http://www.w3.org/2005/Atom"/>
        <xs:element ref="atom:updated" xmlns:atom="http://www.w3.org/2005/Atom"/>
        <xs:element ref="atom:published" xmlns:atom="http://www.w3.org/2005/Atom"/>
        <xs:element ref="atom:title" xmlns:atom="http://www.w3.org/2005/Atom"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="author">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="atom:name" xmlns:atom="http://www.w3.org/2005/Atom"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="name" type="xs:string"/>

  <xs:element name="content">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string"/>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="link">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="href" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="updated" type="xs:dateTime"/>
  <xs:element name="published" type="xs:dateTime"/>

</xs:schema>
