Helpers.Common.Tests/Models/Generated/Project.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Project" type="ProjectType"/>

  <xs:complexType name="PropertyGroupType">
    <xs:sequence>
      <xs:element type="xs:string" name="TargetFramework"/>
      <xs:element type="xs:string" name="Nullable"/>
      <xs:element type="xs:string" name="GeneratePackageOnBuild"/>
      <xs:element type="xs:string" name="Version"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PackageReferenceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Include" use="optional"/>
        <xs:attribute type="xs:string" name="Version" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ItemGroupType">
    <xs:sequence>
      <xs:element type="PackageReferenceType" name="PackageReference" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="EmbeddedResourceType" name="EmbeddedResource" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="CompileType" name="Compile" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EmbeddedResourceType">
    <xs:sequence>
      <xs:element type="xs:string" name="CopyToOutputDirectory" minOccurs="0"/>
      <xs:element type="xs:string" name="Generator" minOccurs="0"/>
      <xs:element type="xs:string" name="LastGenOutput" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Include" use="optional"/>
    <xs:attribute type="xs:string" name="Update" use="optional"/>
  </xs:complexType>

  <xs:complexType name="CompileType">
    <xs:sequence>
      <xs:element type="xs:string" name="DesignTime"/>
      <xs:element type="xs:string" name="AutoGen"/>
      <xs:element type="xs:string" name="DependentUpon"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Update"/>
  </xs:complexType>

  <xs:complexType name="ProjectType">
    <xs:sequence>
      <xs:element type="PropertyGroupType" name="PropertyGroup"/>
      <xs:element type="ItemGroupType" name="ItemGroup" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Sdk"/>
  </xs:complexType>
</xs:schema>
